body {
  background-color: #fed90f;
}

.logo {
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #fff;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #d1b271;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.character:nth-child(even) {
  background-color: #70d1fe;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 200;
  padding: 0 2rem;
}

@media screen and (min-width: 992px) {
  .character {
    flex-direction: row;
  }
}
